NODE_ENV=
PORT=
MONGODB_URI=

CLIENT_URL=
BASE_URL=

# JWT
JWT_SECRET=

# Github
GITLAB_CLIENT_ID=
GITLAB_CLIENT_SECRET=


# Bitbucket
BITBUCKET_CLIENT_ID=
BITBUCKET_CLIENT_SECRET=

# Gitlab
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# GitHub App Configuration
GITHUB_APP_ID=
GITHUB_APP_SLUG=
GITHUB_PRIVATE_KEY_PATH=
